body {
	font-family: Helvetica, sans-serif;
	background: #111;
	margin: 0 auto;
}
#canvas {
	position: absolute;
	left: 0;
	top: 0;
}
.console {
	position: absolute;
	left: 0;
	bottom: 0;
	width: 99%;
	height: 120px;
	border: 0;
	color: #eee;
	background-color: rgba(0, 0, 0, 0.5);
	font-family: Monaco, monospace;
	font-size: 9pt;
}
